.black-header-area {
  background-color: black;
  height: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
body {
  background-color: #f3f3f3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main {
  display: inline-block;
  /* grid-template-columns: 1fr, 3fr; */
}

.top-menu-and-title {
  /* display: grid;
  grid-template-columns: 1fr 1fr 3fr 3fr 4fr 2fr; */
  display: flex;
  background-color: #185abd;
  margin-bottom: 0;
  color: white;
  margin-right: 30px;
  margin-left: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}
.auto-save {
  font-size: 14px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

nav {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  background-color: #f3f3f3;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  color: #00000085;
}
nav a {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  text-align: center;
}
nav a:hover {
  position: inline;
  background-color: #f3f3f3;
  color: #000000;
  z-index: 2;
  text-decoration: underline #185abd;
  text-decoration-thickness: 5px;
}
a {
  text-decoration: none;
  color: inherit;
}
.education {
  margin-top: 2rem;
  /* color: red; */
  margin-left: 1rem;
}
.experience {
  margin-top: 2rem;
  /* color: red; */
  margin-left: 1rem;
}
.relevant-skills {
  margin-top: 2rem;
  /* color: red; */
  margin-left: 1rem;
}
.references {
  margin-top: 2rem;
  /* color: red; */
  margin-left: 1rem;
}
.mailing {
  margin-top: 2rem;
  /* color: red; */
  margin-left: 1rem;
}
.certifications {
  margin-top: 2rem;
  /* color: red; */
  margin-left: 1rem;
}
.view {
  margin-top: 2rem;
  /* color: red; */
  margin-left: 1rem;
}
.layout {
  margin-top: 2rem;
  /* color: red; */
  margin-left: 1rem;
}
.design {
  margin-top: 2rem;
  /* color: red; */
  margin-left: 1rem;
}
.draw {
  margin-top: 2rem;
  /* color: red; */
  margin-left: 1rem;
}
.insert {
  margin-top: 2rem;
  /* color: red; */
  margin-left: 1rem;
}
.help {
  margin-top: 2rem;
  /* color: red; */
  margin-left: 1rem;
}
.experience-table th {
  padding-right: 250px;
}

.education-table th {
  padding-right: 260px;
}
.certifications-table th {
  padding-right: 250px;
}
.skills-table th {
  padding-right: 320px;
}
.references-table th {
  padding-right: 175px;
}
.view-table th {
  padding-right: 100px;
}
.icon-container {
  display: flex;
}
.icon-container-right {
  position: absolute;
  right: 65px;
}
.icon-container img {
  padding-left: 5px;
  padding-right: 5px;
}
.icon-container-right img {
  padding-left: 5px;
  padding-right: 5px;
}

li {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  padding-bottom: 10px;
}

li:hover {
  position: inline;
  background-color: #f3f3f3;
  color: #000000;
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
  /* height: 1.5rem; */
  z-index: 2;
  /* margin-bottom: 0; */
  /* padding-bottom: 0; */
}

.top-div-for-decoration {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: cornflowerblue;
  color: cornflowerblue;
}
.hidden-text-in-top-div {
  display: none;
}

.white-box-in-middle-to-look-like-piece-of-paper {
  background-color: white;
  margin-left: 30px;
  padding-left: 25px;
  margin-right: 30px;
  padding-right: 25px;
  border: 1px black solid;
  height: 1000px;
}
.aside-front-page {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 25%;
  /* color: hotpink; */
  border-right: 1px grey solid;
}
.silly-note {
  font-size: 10px;
}
.objective-h2 {
  text-align: center;
}
.objective-p {
  padding: 12px;
}
.next-to-the-aside {
  /* display: inline-block; */
  width: 74%;
  text-align: left;
}
.container-for-everything {
  display: flex;
}
.hr-just-for-funsies {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #185abd;
}

input {
  background: none;
  border: 0;
  color: #185abd;
  font: inherit;
  margin: 0;
  padding: 0;
}

.form__field {
  align-items: center;
  background-color: #a5b8cc;
  border-radius: 0.125em;
  /* box-shadow: inset 1px 1px 1px hotpink, inset -1px -1px 1px rebeccapurple; */
  color: #185abd;
  display: flex;
  margin-left: 1rem;
  height: 30px;
  width: 450px;
}

.form--search input[type="search"] {
  flex-grow: 1;
  padding-bottom: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.75em;
}

.form--search input[type="submit"] {
  background-image: url("https://cdn.rawgit.com/marcobiedermann/playground/master/ui/search/simple-search-bar/dist/assets/images/magnifier.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 1.5em;
  order: -1;
  padding: 0.75em;
  text-indent: -999px;
  width: 3em;
}
/* .ribbon {
  margin-left: 30px;
 
  margin-bottom: 10px;
} */
